html, body{height:100% ;
margin:0;
}
.header{
    display: flex;
    justify-content:space-between;
    background-color: #020008;
    align-items: center;
    margin-bottom: 10px;
}
.logoimg{
    display: block;
    height : 100px;
    width :100px;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
}
.body{
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    
}
.menu{
display:flex ;
list-style: none;
}
.menu-li{
    margin-left: 20px;
    margin-right: 20px;
}
.menu-li a{
    color:rgb(195, 255, 0);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: rgb(176, 255, 7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box{ text-align:left; border: 5px solid rgb(43, 43, 177); border-radius: 10px;
     margin: auto;   background-color :rgb(42, 194, 161); width: 400px; height: 450px;
}
.travis{display: flex;
    height: 100px;width: 100px; border-radius: 50px; border-style: inherit; align-items: center;
}
footer{background-color: rgb(142, 117, 165); color: rgb(0, 0, 0);position: fixed;width: 100%;color: antiquewhite; padding: 5px;margin-top:20px;
}









